@tailwind base;
@tailwind components;
@tailwind utilities;


@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

#days {
  font-size: 200px;
  color: #db4844;
}
#hours {
  font-size: 150px;
  color: #f07c22;
}
#minutes {
  font-size: 100px;
  color: #f6da74;
}
#seconds {
  font-size: 50px;
  color: #abcd58;
}

svg * { transform-origin: 50% }

@keyframes left {
  100% { transform: rotate(-360deg) }
}

@keyframes right {
  100% { transform: rotate(360deg) }
}

body {
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  color: white;
  background: #000;
}


svg * {
  transform-origin: 50%;
}

@-webkit-keyframes blob_one {
  to {
    transform: rotate(-1turn) translate(-12.5%, -12.5%);
  }
}
@keyframes blob_one {
  to {
    transform: rotate(-1turn) translate(-12.5%, -12.5%);
  }
}
@-webkit-keyframes blob_two {
  to {
    transform: rotate(-1turn) translate(12.5%, -12.5%);
  }
}
@keyframes blob_two {
  to {
    transform: rotate(-1turn) translate(12.5%, -12.5%);
  }
}
@-webkit-keyframes blob_three {
  to {
    transform: rotate(-1turn) translate(-12.5%, 12.5%);
  }
}
@keyframes blob_three {
  to {
    transform: rotate(-1turn) translate(-12.5%, 12.5%);
  }
}
@-webkit-keyframes blob_four {
  to {
    transform: rotate(-1turn) translate(-12.5%, -12.5%);
  }
}
@keyframes blob_four {
  to {
    transform: rotate(-1turn) translate(-12.5%, -12.5%);
  }
}